{
  "printWidth": 120,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}