@import './resetAntDesign.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ellipsis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}



